<% include _header %>
  <% include _navigation %>

  <main id="wrapper">
    <!-- <% for(var b = 0; b < boards.length; b++) { %>
      <div id="<%= boards[b]._id %>" class="board">
        <div class="boardHeader">
          <h3><%= boards[b].title %></h3>
          <p><%= boards[b].description %></p>
          <span class="createItem">New item</span>
        </div>
        <div class="boardItems">
          <% for(var i = 0; i < items.length; i++) { %>
            <% if(items[i]._board == boards[b]._id) { %>
              <span id="<%= items[i]._id %>" class="item">
                <span class="draggable">Drag me</span>
                <h6><%= items[i].title %></h6>
                <p><%= items[i].text %></p>
              </span>
            <% } %>
          <% } %>
        </div>
      </div>
    <% } %> -->
  </main>


  <!-- START MY SCRIPTS -->
  <script src="/js/lib/Sortable/Sortable.min.js" charset="utf-8"></script>
  <script src="/socket.io/socket.io.js" charset="utf-8"></script>

  <script src="/js/core.js" charset="utf-8"></script>
  <script src="/js/_story.js" charset="utf-8"></script>
  <script src="/js/_board.js" charset="utf-8"></script>
  <script src="/js/_item.js" charset="utf-8"></script>
  <script src="/js/_comment.js" charset="utf-8"></script>
  <script src="/js/general.js" charset="utf-8"></script>
  <!-- END MY SCRIPTS -->

<% include _footer %>
